<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<body>

<h1>ADMIN PAGE</h1>

<a th:href="@{/logout}">Logout</a>
<a th:href="@{/book-list}">Book list</a>

</body>
</html>